.weather-app {
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
}

.weather-data,
.weather-forecast {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.weather-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.weather-table th,
.weather-table td {
    padding: 10px;
    text-align: center;
}

.weather-table th {
    background-color: #333;
    color: #fff;
}

.weather-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}